body {
  font-family: "Roboto", sans-serif;
}

body, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.home {
  padding: 16px;
}

.home h1 {
  font-size: 24px;
  margin: 0;
}



.tabs__about .mdl-tabs {
  margin-top: -81px;
}

.tabs__about .mdl-tabs__panel {
  padding: 16px;
}

.tabs__about p:first-child {
  padding: 16px;
}

.tabs__about .mdl-tabs__tab-bar {
  justify-content: flex-start;
  padding: 16px;
}

.filter__user--wrapper {
  position: absolute;
  right: 0;
  top: 24px;
}

.filter__user {
  position: relative;
}

.panel {
  position: relative;
}

.panel__header {
  width: 100%;
  height: 81px;
}
