body {
  font-family: "Roboto", sans-serif;
}

body, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

main.mdl-layout__content .page-content {
  padding: 16px;
}

main.mdl-layout__content .page-content h1 {
  font-size: 24px;
  margin: 0;
}

.mdl-tabs__panel {
  padding: 16px;
}
