
.Signup-container {
  display: flex;
  height: calc(100vh - 55px);
  flex-direction: row
}

.Signup-password-hint {
  font-size: 5.5pt !important;
  display:flex;
  flex-direction:column;
}

.Signup-password-hint ul {
  list-style: none;
  margin: 0 0 -7px 0;
  padding: 0px;
  display: flex;
}

.Signup-password-hint li {

  font-size: 9pt;
  padding: 0px;
  list-style: none;
  margin: 0;
}

.Signup li.checkmark:before
{
  content: '\2713';
  margin: 0 .6em 0 0;
  color: green;
}

.Signup li.checkmark {
  color: lightgray;
  margin: 0;
}

.Signup li:before
{
  content: '\2718';
  margin: 0 .6em 0 0;
  color: rgb(192,192,192);
  float: left;
}

.Signup-good {
  color:green;
}

.Signup-password-hint li.plus20 {
  margin-right: 17px;
}

.Signup-error {
  color:red;
  max-width: 300px;
}

/*.Signup-leftside {*/
  /*max-width: 150px;*/
/*}*/

.Signup-left-side {
  display:flex;
  flex-grow: 1;
  text-align: center;
  /*display: flex;*/
  flex-direction: column;
  max-width: 150px;
  min-width: 100px;
  background-color: rgba(255,64,129,.2);
  overflow: hidden;
}

.Signup-right-side {
  display: flex;
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Signup-grow-area {
  flex-grow: 1;
}

.Signup-input-area {
  color: #333333;
}

.Signup-align-right {
  flex-shrink: 0;
  text-align: right;
  margin-top: 25px;
}

.Signup-loading {
  position: fixed;
  left: 50%;
  right: 50%;
  top: 90px;
}

.Signup-bottom {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
}

.Signup-accept-label {
  font-size: 11px;
  color: rgb(192,192,192);
  max-width: 180px;
}

.Signup-submit-button {
  /*margin-right: 8px;*/
}


.Signup-cloud-parent {
  /*flexShrink: 1;*/
  min-width: 0;
  min-height: 60px;
  background-color: transparent;
  height:40%;
}

.Signup-clouds1 {
  position :relative;
  width: 30px;
  margin-top: 25%;
  left: 100px;
  animation: Signup-clouds-anim 25s infinite linear;
}

.Signup-clouds2 {
  position :relative;
  width: 35px;
  margin-top: 20%;
  /*margin-bottom: 70px;*/
  left: -150px;
  animation: Signup-clouds-anim 25s infinite linear;
  animation-delay: 13s;
}


@keyframes Signup-clouds-anim {
  0%   {left: -175px;}
  100% {left: 90%}
}

.Signup-rocket-parent {
  height:60%;
  display: flex;
  justify-content: flex-end;
  flex-direction:column;
}

.Signup-rocket-area1 {
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.Signup-rocket-area2 {
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
  animation: Signup-rocket-lift 8s ease;
  animation-fill-mode: forwards;
  overflow: visible;;
}

@keyframes Signup-rocket-lift {
  0% {margin-bottom: 0px}
  100% {margin-bottom:calc(100vh / 3);}
}